<div class="header-top">
   <div class="wrap"> 
		  <div class="header-top-left">
		  	   <div class="box">
				      <select tabindex="4" class="dropdown">
						<option value="" class="label" value="">Idioma :</option>
						<option value="1">Español</option>
						<option value="2">Inglés</option>
				  </select>
				    </div>
				    <div class="clear"></div>
			 </div>
		 <div class="cssmenu">
			<ul>
				<li><a href="login.html">Log In</a></li> |
				<li><a href="register.html">Sign Up</a></li>
			</ul>
		</div>
		<div class="clear"></div>
		</div>
</div>
<div class="header-bottom">
    <div class="wrap">
		<div class="header-bottom-left">
			<div class="logo">
				<a href="index.html"><img src="/assets/raxa_logo.png" alt="" height="100" width="250"/></a>
			</div>
			<div class="menu">
            <ul class="megamenu skyblue">
				<li><a href="index.html">Inicio</a></li>			
				<li><a class="color6" href="/welcome/familia">Catálogo</a></li>
				<li><a class="color7" href="/welcome/about">Empresa</a></li>
				<li class="active grid"><a class="color7" href="/welcome/contact">Contacto</a></li>
			</ul>
		</div>
	</div>
   <div class="header-bottom-right">
     <div class="search">	  
			<input type="text" name="s" class="textbox" value="Buscar" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}">
			<input type="submit" value="Subscribe" id="submit" name="submit">
			<div id="response"> </div>
	 </div>
  <div class="tag-list">
	<ul class="icon1 sub-icon1 profile_img">
		<li><a class="active-icon c2" href="#"> </a>
			<ul class="sub-icon1 list">
				<li><h3>No Products</h3><a href=""></a></li>
				<li><p>Lorem ipsum dolor sit amet, consectetuer  <a href="">adipiscing elit, sed diam</a></p></li>
			</ul>
		</li>
	</ul>
    <ul class="last"><li><a href="#">Carrito(0)</a></li></ul>
  </div>
</div>
 <div class="clear"></div>
 </div>
</div>
       <div class="wrap">
	    <ul class="breadcrumb breadcrumb__t"><a class="home" href="/">Inicio</a>  / Contacto <span style="float:right;">937.464.124</span></ul>
		   <div class="content-top">
			   <form method="post" action="contact-post.html">
					<div class="to">
                     	<input type="text" class="text" value="Nombre" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Name';}">
					 	<input type="text" class="text" value="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" style="margin-left: 10px">
					</div>
					<div class="to">
                     	<input type="text" class="text" value="Teléfono" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Website';}">
					 	<input type="text" class="text" value="Empresa" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Subject';}" style="margin-left: 10px">
					</div>
					<div class="text">
	                   <textarea value="Mensaje:" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message';}">Mensaje:</textarea>
	                </div>
	                <div class="submit">
	               		<input type="submit" value="Submit">
	                </div>
               </form>
               <br>
               <p class="text">HORARIO: de 9 - 14h y de 15:00 - 18:00h. De lunes a Viernes. (937.464.124)</p>
                <div class="map">
					<iframe width="100%" height="175" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11947.72836758568!2d2.102251500000006!3d41.527411599999986!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa9484a5980214413!2sRaxa+Distribuciones+1997%2C+Sl!5e0!3m2!1ses!2ses!4v1449418770921"></iframe><br><small></small>
				</div>
            </div>
       </div> 
<div class="main">
</div>
</div>
<div class="footer">
	<div class="footer-top">
		<div class="wrap">
		  <div class="section group example">
			<div class="col_1_of_2 span_1_of_2">
				<ul class="f-list">
				  <li><img src="/assets/3.png"><span class="f-text">Llamanos! 937.464.124 </span><div class="clear"></div></li>
				</ul>
			</div>
			<div class="clear"></div>
	      </div>
		</div>
	</div>
	<div class="footer-middle"></div>
	<div class="footer-bottom">
		<div class="wrap">
             <div class="copy">
		        <p>© 2015 Template by <a href="http://w3layouts.com" target="_blank">edu</a></p>
	         </div>
			<div class="f-list2">
			 <ul>
				<li class="active"><a href="about.html">About Us</a></li> |
				<li><a href="delivery.html">Delivery & Returns</a></li> |
				<li><a href="delivery.html">Terms & Conditions</a></li> |
				<li><a href="contact.html">Contact Us</a></li> 
			 </ul>
		    </div>
		    <div class="clear"></div>
	      </div>
     </div>
</div>